body {
    background-color: rgb(240, 240, 240)
}




/* 초기화 */

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

/* 초기화 */


/* head 기능 */
.head_Option {
    display: flex;
    justify-content: center;
    border: solid rgb(255, 255, 255) 1px;
    height: 40px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.295);

}

.Head_Option_Function {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 300px;

}
/* head 기능 */


/* 스케줄 카드 */
.main_card {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 600px;
    width: auto;

}

#Schedule_Card {
    height: 500px;
    width: 350px;
    margin-left: 10px;
    border: solid black 1px;

}

